<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title></title>
  </head>
  <body>
    <header>
    </header>
    <main>
      <div class="congratulations">
        <h1>Congratulations<br> You finished the course!!!</h1>
        <img src="static/images/dancing-cat1.gif" alt="dancing cat gif">
        <button onclick="location.href='/'">Return to home page</button>
      </div>
    </main>
  </body>
</html>

