<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles.css">
    <title>Type Journey: {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav id="level-navbar">
        <h1>{% block level %}{% endblock %}</h1>
        <ul>
            <li><a href="/">exit</a></li>
        </ul>
      </nav>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    {% block script %}{% endblock %}
  </body>
</html>