<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Type Journey: Level {{ currentLevel }}</title>
  </head>
  <body>
    <header>
      <nav id="level-navbar">
        <h1>Level {{ currentLevel }}</h1>
        <ul>
            <li><a href="/">exit</a></li>
        </ul>
      </nav>
    </header>
    <main>
        {% block main %}{% endblock %}
        {% if isReview %}
            <dialog id="reviewResultsModal" class="modal">
                <div class="modal-content">
                    <h1>Level Complete!</h1>
                    <p id="correctCount"></p>   
                    <p id="incorrectCount"></p>
                    <p id="totalTime"></p>
                    <p id="wpm"></p>
                    <p id="accuracy"></p>
                    <p id="score"></p>
                    <button id="reviewNextLevel" class="nextLevelButton">Continue</button>
                    <button id="retryLevel" class="retryLevelButton">Retry</button>
                </div>
            </dialog>
        {% elif isTutorial %}
            <dialog id="tutorialResultsModal" class="modal">
                <div class="modal-content">
                    <h1>Level Complete!</h1>
                    <button id="tutorialNextLevel" class="nextLevelButton">Continue</button>
                </div>
            </dialog>
        {% endif %}
    </main>
    <script type="module" src = "{{ url_for('static', filename='levels.js') }}"></script>
  </body>
</html>