<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Type Journey: {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <h1>Type Journey</h1>
        {% if session["user_id"] %}
          <div id="link-container">
            <ul>
              <li class="nav-link"><a href="/">Lessons</a></li>
              <li class="nav-link"><a href="/speed-test">Speed test</a></li> 
            </ul>
            <ul>
              <li id="dropdown" data-dropdown>
                <img src="static/images/profile-icon.png" alt="Profile" id="profile-icon" class="nav-link" data-dropdown-img>
                <ul id="dropdown-content">
                  <li class="dropdown-link"><a href="/profile">Profile</a></li>
                  <li class="dropdown-link"><a href="/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        {% else %}
            <ul>
                <li class="nav-link"><a href="/register">Register</a></li>
                <li class="nav-link"><a href="/login">Log in</a></li>
            </ul>

        {% endif %}
      </nav>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer></footer>
    {% block script %}{% endblock %}
  </body>
</html>