{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
    <div id="profile-stats">
        <h1>{{ username }}</h1>
        <div>
            <h2>Highest Level Completed</h2>
            <h3>{{ highestLevelCompleted }}</h3>
        </div>
        <div>
            <h2>Average Wpm</h2>
            <h3>{{ averageWpm }}</h3>
        </div>
        <div>
        <h2>Average Accuracy</h2>
        <h3>{{ averageAccuracy }}</h3>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src = "{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
