<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Type Journey: Speed Test</title>
  </head>
  <body>
    <header>
      <nav class="navbar level-navbar">
        <h1>Speed Test</h1>
        <ul>
          <li><a href="/" class="exit-link">Exit</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <div id="wordContainer" data-paragraph="{{ randomText }}"></div>
        <dialog id="speedTestModal" class="modal">
            <div class="modal-content">
                <h1>Speed Test Completed!</h1>
                <div class="stat-container">
                  <p id="correctCount" class="stats"></p>   
                  <p id="incorrectCount" class="stats"></p>
                  <p id="totalTime" class="stats"></p>
                  <p id="wpm" class="stats"></p>
                  <p id="accuracy" class="stats"></p>
                </div>
                <div class="button-container">
                  <button id ="modalReturnHome">Home</button>
                  <button id="retryLevel" class="retryLevelButton">Retry</button>
                  <button id="nextTest" class="nextTestButton">Next Test</button>
                </div>
            </div>
        </dialog>
    </main>
    <script type="module" src = "{{ url_for('static', filename='speedTest.js') }}"></script>
  </body>
</html>