<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Type Journey: Speed Test</title>
  </head>
  <body>
    <header>
      <nav id="level-navbar">
        <h1>Speed Test</h1>
        <ul>
            <li><a href="/">exit</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <div id="wordContainer" data-paragraph="{{ randomText }}"></div>
        <dialog id="speedTestModal" class="modal">
            <div class="modal-content">
                <h1>Speed Test Completed!</h1>
                <p id="correctCount"></p>   
                <p id="incorrectCount"></p>
                <p id="totalTime"></p>
                <p id="wpm"></p>
                <p id="accuracy"></p>
                <button id="retryLevel" class="retryLevelButton">Retry</button>
                <button id="nextTest" class="nextTestButton">Next Test</button>
            </div>
        </dialog>
    </main>
    <script type="module" src = "{{ url_for('static', filename='speedTest.js') }}"></script>
  </body>
</html>